<h2 class="title">-------- {{decodeURIComponent($location.url().split('/')[1]) || 'All'}} --------</h2>
<span class="filter">
    Filter:
    <!--<span class="clickable" ng-click="$location.path('')">All</span> |-->
    <span ng-repeat="(tag,data) in Private.tagsData">
        <span class="clickable" ng-click="$location.path('/'+tag)">{{tag}}</span> |
    </span>
    <!--<span class="clickable" ng-click="$location.path('')">All</span> |-->
    <!--<span class="clickable" ng-click="$location.path('/Gamblit')">Gamblit</span> |-->
    <!--<span class="clickable" ng-click="$location.path('/JFT Friends')">JFT Friends</span> |-->
    <!--<span class="clickable" ng-click="$location.path('/Winky')">Winky</span>-->
</span>
<table class="table table-inverse">
    <tbody>
    <tr ng-repeat="(label,heroType) in heroes">
        <th scope="row">{{label.toUpperCase()}}</th>
        <td class="heroCell" ng-repeat="(name,bool) in heroType">
            <div class="heroName">
                {{name}}
                <span class="label label-primary" ng-show="obCount(heroOV(name))">{{obCount(heroOV(name)) || 0}}</span>
                <span class="label label-default" ng-show="obCount(hero2OV(name))">{{obCount(hero2OV(name)) || 0}}</span>
                <span class="label label-danger" ng-show="obCount(heroBest(name))">{{obCount(heroBest(name)) || 0}}</span>
            </div>
            <span class="heroPlayers" ng-repeat="(name,bool) in heroOV(name)">
                <span class="label label-primary">{{name.split('#')[0]}}</span>
            </span>
            <span class="heroPlayers" ng-repeat="(name,bool) in hero2OV(name)">
                <span class="label label-default">{{name.split('#')[0]}}</span>
            </span>
            <span class="heroPlayers" ng-repeat="(name,bool) in heroBest(name)">
                <span class="label label-danger">{{name.split('#')[0]}}</span>
            </span>
        </td>
    </tr>
    </tbody>
</table>
<span ng-click="addTag()">+Add</span>
<table class="table table-inverse newtab">
    <thead>
    <tr ng-click="changeSortDir()" class="headings">
        <th ng-click="currentSort = 'player.realName'">BattleTag / Name</th>
        <!--<th ng-click="currentSort = 'player.realName'">Name</th>-->
        <th ng-click="currentSort = 'player.level'">Level</th>
        <th ng-click="currentSort = 'heroStats[0].edr'">EDR</th>
        <th ng-click="currentSort = 'heroStats[0].kdr'">KDR</th>
        <th ng-click="currentSort = 'heroStats[0].winPercentage'">Win %</th>
        <th ng-click="currentSort = 'heroStats[0].gamesUp'">+/- .500</th>
        <th ng-click="currentSort = 'heroStats[0].killsUp'">+/- TKD</th>
        <!--<th ng-click="currentSort = 'heroStats[0].gamesPlayed'">Games Played</th>-->
        <th ng-click="currentSort = 'heroStats[0].avgMedal'">Avg Medals/Game (G/S/B/A)</th>
        <!--<th ng-click="currentSort = 'heroStats[0].avgMedal'">Avg Medals Per Game</th>-->
        <th ng-click="currentSort = 'careerStats[0].mostGameEliminations'">Most Elims/Game</th>
        <th ng-click="currentSort = 'careerStats[0].mostGameDamageDone'">Most Dmg/Game</th>
        <th ng-click="currentSort = 'careerStats[0].mostGameHealingDone'">Most Heals/Game</th>
        <th ng-click="currentSort = 'achievements.length'">Cheevies</th>
        <!--<th ng-click="currentSort = 'player.lastUpdated'">Last Updated</th>-->
        <!--<th ng-click="currentSort = 'player.tags'">Tags</th>-->
        <th ng-click="currentSort = 'mostPlayedWP'">Most Played</th>
        <th ng-click="currentSort = 'secondMostPlayedWP'">2nd Most Played</th>
        <th ng-click="currentSort = 'bestWinPP'">Best Win %</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-hide="$location.url() !== '' && $location.url() !== '/' && entity.player.tags.indexOf(decodeURIComponent($location.url().split('/')[1])) < 0"
        ng-repeat="entity in Private.overwatchA | orderBy: currentSortDir+currentSort">
        <th>
            <img class="portrait" ng-src="{{'https://static.watcher.gg/portraits/' + entity.player.portrait + '.png'}}">
            {{entity.player.realName}}<br>
            <div class="realName">{{entity.player.name}}</div>
            <span class="profileLink" >
                <!--Profiles:-->
                <a target="_blank" href="{{'https://watcher.gg/profile/pc/us/'+entity.player.name.split('#')[0]+'%23'+entity.player.name.split('#')[1]}}">watcher</a> |
                <a target="_blank" href="{{'https://playoverwatch.com/en-us/career/pc/us/'+entity.player.name.split('#')[0]+'-'+entity.player.name.split('#')[1]}}">bnet</a> |
                <a target="_blank" ng-click="addGroup(entity.player.name)">-group-</a>
            </span>
        </th>
        <td ng-class="highlightHighest('level', entity.player.level, entity.player.tags)">
            {{entity.player.level}}
        </td>
        <td title={{entity.heroStats[0].edr}} ng-class="highlightHighest('edr', entity.heroStats[0].edr, entity.player.tags)">
            {{entity.heroStats[0].edr | number:2}}
        </td>
        <td ng-class="highlightHighest('kdr', entity.heroStats[0].kdr, entity.player.tags)">
            {{entity.heroStats[0].kdr | number:2}}
        </td>
        <td ng-class="highlightHighest('winPercentage', entity.heroStats[0].winPercentage, entity.player.tags)">
            {{entity.heroStats[0].winPercentage | percentage:100}}
        </td>
        <td ng-class="highlightHighest('gamesUp', entity.heroStats[0].gamesUp, entity.player.tags)" title="{{entity.heroStats[0].gamesWon}} - {{entity.heroStats[0].gamesPlayed - entity.heroStats[0].gamesWon}}">
            {{entity.heroStats[0].gamesUp}}
        </td>
        <td ng-class="highlightHighest('killsUp', entity.heroStats[0].killsUp, entity.player.tags)" title="{{entity.heroStats[0].finalBlows}} / {{entity.heroStats[0].deaths}} / {{entity.heroStats[0].assists}}">
            {{entity.heroStats[0].killsUp}}
        </td>
        <td>
            <span ng-class="highlightHighest('avgGold', entity.heroStats[0].avgGold, entity.player.tags)">
                {{entity.heroStats[0].avgGold | number:1}}
            </span> |
            <span ng-class="highlightHighest('avgSilver', entity.heroStats[0].avgSilver, entity.player.tags)">
                {{entity.heroStats[0].avgSilver | number:1}}
            </span> |
            <span ng-class="highlightHighest('avgBronze', entity.heroStats[0].avgBronze, entity.player.tags)">
                {{entity.heroStats[0].avgBronze | number:1}}
            </span> |
            <span ng-class="highlightHighest('avgMedal', entity.heroStats[0].avgMedal, entity.player.tags)">
                {{entity.heroStats[0].avgMedal | number:1}}
            </span>
        </td>
        <td ng-class="highlightHighest('mostGameEliminations',  entity.careerStats[0].mostGameEliminations, entity.player.tags)">{{entity.careerStats[0].mostGameEliminations}}</td>
        <td ng-class="highlightHighest('mostGameDamageDone',  entity.careerStats[0].mostGameDamageDone, entity.player.tags)">{{entity.careerStats[0].mostGameDamageDone}}</td>
        <td ng-class="highlightHighest('mostGameHealingDone',  entity.careerStats[0].mostGameHealingDone, entity.player.tags)">{{entity.careerStats[0].mostGameHealingDone}}</td>
        <td ng-class="highlightHighest('achievements',  entity.achievements.length, entity.player.tags)">{{entity.achievements.length}}</td>
        <!--<td class="profileLink">{{entity.player.lastUpdated}}</td>-->
        <td class="charbg" ng-class="highlightHighest('mostPlayedWP', entity.mostPlayedWP, entity.player.tags)">
            <img class="character" ng-src="{{'https://d1u1mce87gyfbn.cloudfront.net/hero/'+ stdName(entity.mostPlayed) +'/overlay-portrait.png'}}">
            {{entity.mostPlayed}}<br>
            {{entity.mostPlayedData.gamesWon}}/{{entity.mostPlayedData.gamesPlayed - entity.mostPlayedData.gamesWon}} ({{entity.mostPlayedWP | percentage:100}})
        </td>
        <td class="charbg" ng-class="highlightHighest('secondMostPlayedWP', entity.secondMostPlayedWP, entity.player.tags)">
            <img class="character" ng-src="{{'https://d1u1mce87gyfbn.cloudfront.net/hero/'+ stdName(entity.secondMostPlayed) +'/overlay-portrait.png'}}">
            {{entity.secondMostPlayed}}<br>
            {{entity.secondMostPlayedData.gamesWon}}/{{entity.secondMostPlayedData.gamesPlayed - entity.secondMostPlayedData.gamesWon}} ({{entity.secondMostPlayedWP | percentage:100}})
        </td>
        <td class="charbg" ng-class="highlightHighest('bestWinPP', entity.bestWinPP, entity.player.tags)">
            <img class="character" ng-src="{{'https://d1u1mce87gyfbn.cloudfront.net/hero/'+ stdName(entity.bestWinP) +'/overlay-portrait.png'}}">
            {{entity.bestWinP}}<br>
            {{entity.bestWinPData.gamesWon}}/{{entity.bestWinPData.gamesPlayed - entity.bestWinPData.gamesWon}} ({{entity.bestWinPP | percentage:100}})
        </td>
    </tr>
    </tbody>
</table>
<button class="btn btn-primary btn-sm" ng-click="updateAll()">Update All Data</button>


<table class="table table-inverse newtab">
    <thead>
    <tr ng-click="changeSortDirHero()" class="headings">
        <th ng-click="currentSortHero = 'name'">Hero</th>
        <th ng-click="currentSortHero = 'edr'">EDR</th>
        <th ng-click="currentSortHero = 'kdr'">KDR</th>
        <th ng-click="currentSortHero = 'winPercentage'">Win %</th>
        <th ng-click="currentSortHero = 'gamesUp'">+/- .500</th>
        <th ng-click="currentSortHero = 'killsUp'">+/- TKD</th>
        <th ng-click="currentSortHero = 'avgMedal'">Avg Medals/Game (G/S/B/A)</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="hero in Private.overwatchHeroesA | orderBy: currentSortDirHero+currentSortHero">
        <th>
            <div class="realName">{{hero.name}}</div>
        </th>
        <td ng-class="highlightHighest('edr', hero.edr, ['All'])">{{hero.edr}}</td>
        <td ng-class="highlightHighest('kdr', hero.kdr, ['All'])">{{hero.kdr}}</td>
        <td ng-class="highlightHighest('winPercentage', hero.winPercentage, ['All'])">{{hero.winPercentage | percentage:100}}</td>
        <td ng-class="highlightHighest('gamesUp', hero.gamesUp, ['All'])" title="{{hero.gamesWon}} - {{hero.gamesPlayed - hero.gamesWon}}">{{hero.gamesUp}}</td>
        <td ng-class="highlightHighest('killsUp', hero.killsUp, ['All'])" title="{{hero.finalBlows}} / {{hero.deaths}} / {{hero.assists}}">{{hero.killsUp}}</td>
        <!--<td ng-class="highlightHighest('gamesPlayed',           hero.gamesPlayed,            player.tags)">{{hero.gamesPlayed}}</td>-->
        <td>
            <span ng-class="highlightHighest('avgGold', hero.avgGold, ['All'])">
                {{hero.avgGold | number:1}}
            </span> |
            <span ng-class="highlightHighest('avgSilver', hero.avgSilver, ['All'])">
                {{hero.avgSilver | number:1}}
            </span> |
            <span ng-class="highlightHighest('avgBronze', hero.avgBronze, ['All'])">
                {{hero.avgBronze | number:1}}
            </span> |
            <span ng-class="highlightHighest('avgMedal', hero.avgMedal, ['All'])">
                {{hero.avgMedal | number:1}}
            </span>
        </td>
    </tr>
    </tbody>
</table>


{{Private.overwatchA[0].player.lastUpdated}}