<h2 class="title">-------- {{decodeURIComponent($location.url().split('/')[1]) || 'All'}} --------</h2>
<span class="filter">
    Filter:
    <span class="clickable" ng-click="$location.path('')">All</span> |
    <span class="clickable" ng-click="$location.path('/Gamblit')">Gamblit</span> |
    <span class="clickable" ng-click="$location.path('/JFT Friends')">JFT Friends</span> |
    <span class="clickable" ng-click="$location.path('/Winky')">Winky</span>
</span>
<table class="table table-inverse newtab">
    <thead>
    <tr ng-click="changeSortDir()">
        <th ng-click="currentSort = 'player.realName'">BattleTag / Name</th>
        <!--<th ng-click="currentSort = 'player.realName'">Name</th>-->
        <th ng-click="currentSort = 'player.level'">Level</th>
        <th ng-click="currentSort = 'heroStats[0].kda'">KDR</th>
        <th ng-click="currentSort = 'heroStats[0].winPercentage'">Win %</th>
        <th ng-click="currentSort = 'heroStats[0].gamesUp'">Games Above .500</th>
        <!--<th ng-click="currentSort = 'heroStats[0].gamesPlayed'">Games Played</th>-->
        <th ng-click="currentSort = 'heroStats[0].avgMedal'">Avg Medals/Game (G/S/B/A)</th>
        <!--<th ng-click="currentSort = 'heroStats[0].avgMedal'">Avg Medals Per Game</th>-->
        <th ng-click="currentSort = 'careerStats[0].mostGameEliminations'">Most Elims/Game</th>
        <th ng-click="currentSort = 'careerStats[0].mostGameDamageDone'">Most Dmg/Game</th>
        <th ng-click="currentSort = 'careerStats[0].mostGameHealingDone'">Most Heals/Game</th>
        <th ng-click="currentSort = 'achievements.length'">Cheevies</th>
        <th ng-click="currentSort = 'player.lastUpdated'">Last Updated</th>
        <!--<th ng-click="currentSort = 'player.tags'">Tags</th>-->
        <th ng-click="currentSort = 'mostPlayed'">Favorite Hero</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-hide="$location.url() !== '' && $location.url() !== '/' && entity.player.tags.indexOf(decodeURIComponent($location.url().split('/')[1])) < 0"
        ng-repeat="entity in Private.overwatchA | orderBy: currentSortDir+currentSort">
        <th>
            <img class="portrait" ng-src="{{'https://static.watcher.gg/portraits/' + entity.player.portrait + '.png'}}">
            {{entity.player.name}}<br>
            <div class="realName">{{entity.player.realName}}</div>
            <span class="profileLink" >
                Profiles:
                <a target="_blank" href="{{'https://watcher.gg/profile/pc/us/'+entity.player.name.split('#')[0]+'%23'+entity.player.name.split('#')[1]}}">watcher</a> |
                <a target="_blank" href="{{'https://playoverwatch.com/en-us/career/pc/us/'+entity.player.name.split('#')[0]+'-'+entity.player.name.split('#')[1]}}">bnet</a>
            </span>
        </th>
        <!--<td>{{entity.player.realName}}</td>-->
        <td ng-class="highlightHighest('level',                 entity.player.level,                        entity.player.tags)">{{entity.player.level}}</td>
        <td ng-class="highlightHighest('kda'  ,                 entity.heroStats[0].kda,                    entity.player.tags)">{{entity.heroStats[0].kda}}</td>
        <td ng-class="highlightHighest('winPercentage',         entity.heroStats[0].winPercentage,          entity.player.tags)">{{entity.heroStats[0].winPercentage | percentage:100}}</td>
        <td ng-class="highlightHighest('gamesUp', entity.heroStats[0].gamesUp, entity.player.tags)" title="{{entity.heroStats[0].gamesWon}} - {{entity.heroStats[0].gamesPlayed - entity.heroStats[0].gamesWon}}">{{entity.heroStats[0].gamesUp}}</td>
        <!--<td ng-class="highlightHighest('gamesPlayed',           entity.heroStats[0].gamesPlayed,            entity.player.tags)">{{entity.heroStats[0].gamesPlayed}}</td>-->
        <td>
            <span ng-class="highlightHighest('avgGold', entity.heroStats[0].avgGold, entity.player.tags)">
                {{entity.heroStats[0].avgGold | number:1}}
            </span> |
            <span ng-class="highlightHighest('avgSilver', entity.heroStats[0].avgSilver, entity.player.tags)">
                {{entity.heroStats[0].avgSilver | number:1}}
            </span> |
            <span ng-class="highlightHighest('avgBronze', entity.heroStats[0].avgBronze, entity.player.tags)">
                {{entity.heroStats[0].avgBronze | number:1}}
            </span> |
            <span ng-class="highlightHighest('avgMedal', entity.heroStats[0].avgMedal, entity.player.tags)">
                {{entity.heroStats[0].avgMedal | number:1}}
            </span>
        </td>
        <!--<td ng-class="highlightHighest('avgMedal',              entity.heroStats[0].avgMedal,               entity.player.tags)">{{entity.heroStats[0].avgMedal | number:2}}</td>-->
        <td ng-class="highlightHighest('mostGameEliminations',  entity.careerStats[0].mostGameEliminations, entity.player.tags)">{{entity.careerStats[0].mostGameEliminations}}</td>
        <td ng-class="highlightHighest('mostGameDamageDone',  entity.careerStats[0].mostGameDamageDone, entity.player.tags)">{{entity.careerStats[0].mostGameDamageDone}}</td>
        <td ng-class="highlightHighest('mostGameHealingDone',  entity.careerStats[0].mostGameHealingDone, entity.player.tags)">{{entity.careerStats[0].mostGameHealingDone}}</td>
        <td ng-class="highlightHighest('achievements',  entity.achievements.length, entity.player.tags)">{{entity.achievements.length}}</td>
        <td class="profileLink">{{entity.player.lastUpdated}}</td>
        <td class="charbg">
            <img class="character" ng-src="{{'https://d1u1mce87gyfbn.cloudfront.net/hero/'+ stdName(entity.mostPlayed) +'/overlay-portrait.png'}}">
            {{entity.mostPlayed}}<br>
            {{entity.mostPlayedData.gamesWon}}W - {{entity.mostPlayedData.gamesPlayed - entity.mostPlayedData.gamesWon}}L
        </td>
    </tr>
    </tbody>
</table>
<button class="btn btn-primary btn-sm" ng-click="updateAll()">Update All Data</button>